@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

body {
  height: 200vh;
}

.top-button {
  display: block;
  max-width: 71px;
  height: 71px;
  position: fixed;
  right: 48px;
  bottom: 23px;
}

.container {
  max-width: 1085px;
  margin: 0 auto;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 0 22px;
}

.company-logo {
  max-width: 13.75rem;
}

.btn {
  display: block;
  padding: 8px 32px;
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.5;
  max-width: 128px;
}

.btn-plan {
  background: #FF5D50;
}

.background {
  background-image: url("/asset/bg_home.svg");
  background-position: right top;
  background-repeat: no-repeat, no-repeat;
}

.round-22 {
  border-radius: 22px;
}

.text-center {
  text-align: center;
}

.text-center-last {
  text-align-last: center;
}

.f-16 {
  font-size: 1rem;
}

.f-24 {
  font-size: 1.5rem;
}

.f-32 {
  font-size: 2rem;
}

.f-primary {
  color: #221E1F;
}

.f-bold {
  font-weight: 500;
}

.f-justify {
  text-align: justify;
}

.platform {
  max-width: 969px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.m0-auto {
  margin: 0 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.platform-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 730px) {
  .platform-list {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .platform-list {
    flex-direction: column;
  }
}

.platform-item {
  width: 15.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 730px) {
  .platform-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.platform-img {
  width: 5.625rem;
}

.platform-title {
  width: 100%;
}

.platform-desc {
  width: 14.25rem;
  color: #747474;
}

.mt-48 {
  margin-top: 3rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.footer-copyright {
  padding: 16px 0px;
  background: #F5F5F5;
}

.line-height {
  line-height: 1.5;
}
/*# sourceMappingURL=all.css.map */