@mixin for-phone-only {
    @media (max-width: 375px) {
        @content;

    }
}

@mixin for-tablet-portrait-up {
    @media (max-width: 730px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

@mixin padding-y($className, $styleName) {
    $i: 0;
    @while $i <= $max {
      #{$className + $i} { 
    
      }
      $i: $i + $offset;
    }
  }

$max: 48;
$offset: 16;
$unit: 'rem'; // Feel free to change the unit.
@mixin list-loop($className) {
  $i: 16;
  @while $i <= $max {
    #{$className + $i} { 
        padding-top: #{$i/$offset + $unit};
        padding-bottom: #{$i/$offset + $unit};
    }
    $i: $i + $offset;
  }
}
@include list-loop('.px-',);