@import "reset";
@import "variable";
@import "mixin";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}


.container {
    max-width: 1085px;
    margin: 0 auto;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

.bgYellow {
    position: absolute;
    right: 0;
    z-index: -1;

    @include for-tablet-landscape-up {
        display: none;
    }

}

.main {
    max-width: 1366px;
    margin: 0 auto;
}

.home {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;

    @include for-tablet-landscape-up {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    &-theme {
        width: 50%;

        @include for-tablet-landscape-up {
            width: max-content;
        }

    }

    &-header {
        color: $primary;
        font-size: 18px;
        line-height: 1.44;
        font-weight: bold;

        @include for-tablet-landscape-up {
            font-size: 16px;
            line-height: 1.5;
        }

    }

    &-slogan {
        font-size: 48px;
        line-height: 1.46;
        color: #221E1F;
        margin-top: 8px;
        font-weight: bold;

        @include for-tablet-landscape-up {
            font-size: 32px;
        }
    }

    &-footer {
        font-size: 20px;
        line-height: 1.45;
        color: #221E1F;
        margin-top: 16px;
        font-weight: normal;

        @include for-tablet-landscape-up {
            font-size: 16px;
            line-height: 1.5;

        }
    }

    &-img {
        width: 50%;
        position: relative;

        @include for-tablet-landscape-up {
            margin-top: 32px;
        }

        &-small {
            display: none;
            position: absolute;

            @include for-tablet-landscape-up {
                display: block;
                z-index: -1;
                bottom: 0;
            }
        }

    }
}


.top-button {
    display: block;
    max-width: 71px;
    height: 71px;
    position: fixed;
    right: 48px;
    bottom: 23px;
    z-index: 1;
}


.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px 22px 0 22px;

    @include for-tablet-landscape-up {
        padding: 24px 20px;

        border-bottom: 1px solid #FFD153;
    }

    @include for-phone-only {
        flex-direction: column;
        justify-content: center;

    }


    &-logo {
        max-width: 13.75rem;

        @include for-phone-only {
            margin-bottom: 10px;
        }
    }

}



.btn {
    padding: 8px 32px;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5;
    // max-width: 128px;

    &-plan {
        background: $primary;

        &-secondary {
            background-color: $secondary;
        }
    }
}

// .background {
//     background-image: url("/asset/bg_home.svg");
//     background-position: right top;
//     background-repeat: no-repeat, no-repeat;
//     // background-repeat: no-repeat;

// }

.btn {
    display: inline-block;
}

.round-22 {
    border-radius: 22px;
}

.text-center {
    text-align: center;
}

.text-center-last {
    text-align-last: center;
}

.f-16 {
    font-size: 1rem;
}

.f-24 {
    font-size: 1.5rem;
}


.f-32 {
    font-size: 2rem;
}

.f-primary {
    color: $font-primary;
}

.f-bold {
    font-weight: 500;
}

.f-justify {
    text-align: justify;
}

.platform {
    max-width: 969px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.m0-auto {
    margin: 0 auto;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.middle {
    margin-top: 100px;
}

.platform {


    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }

    &-item {

        width: 15.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        @include for-tablet-portrait-up {
            margin-left: auto;
            margin-right: auto;
        }

        @include for-tablet-portrait-up {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }

        // @include for-phone-only {}
    }


    &-img {
        width: 5.625rem;
    }


    &-title {
        width: 100%;
    }

    &-desc {
        width: 14.25rem;
        color: $font-second;
    }
}


.mt-48 {
    margin-top: 3rem;
}

.mt-24 {
    margin-top: 1.5rem;
}




// .middle::before {
//     content: '';
//     width: 360px;
//     height: 360px;
//     background-color: #56C4C5;
//     position: absolute;
//     border-radius: 99999px;
//     left: -222px;
//     top: 300px;
//     z-index: -1;
// }


.character {
    text-align: center;
    margin-top: 100px;

    h2 {
        font-size: 32px;
        line-height: 1.4375;
        font-weight: bold;
        margin: 0 auto;
    }

    &-slogan {
        font-size: 20px;
        line-height: 1.45;
        margin: 16px auto 0 auto;
    }

    &-test2 {
        // width: 100%;
        // display: flex;
        // justify-content: center;
    }

    &-list {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include for-tablet-landscape-up {
            width: 260px;
            margin-left: auto;
            margin-right: auto;
        }

    }


    &-item {
        width: 260px;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        margin-bottom: 24px;

        img {
            border-radius: 12px 12px 0 0;
        }
    }

    &-test {
        padding: 16px 16px 24px 16px;
    }

    &-title {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 16px;
        color: #56C4C5;
    }

    &-desc {
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.5;
        text-align-last: center;
    }
}


.function {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;


    @include for-tablet-landscape-up {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    &-list {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;

        @include for-tablet-landscape-up {
            margin-top: 32px;
        }
    }


    &-item {
        padding: 32px 32px 48px 32px;
        width: 230px;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        margin-bottom: 24px;
    }

    &-img {
        width: 86px;
        height: 86px;
        padding: 17px;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 999px;
    }




    &-content {
        margin-top: 24px;

        h2 {
            font-size: 18px;
            line-height: 1.4;
            margin-top: 24px;
            font-weight: bold;
        }

        p {
            margin-top: 16px;
            line-height: 1.5;
            // margin-bottom: 4px;
        }
    }




    &-slogan {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include for-tablet-landscape-up {
            align-items: center;
            text-align-last: center;
        }


        &-header {
            font-weight: bold;
            font-size: 32px;
            line-height: 1.4375;


        }


        &-content {
            margin-top: 10px;
            font-size: 18px;
            line-height: 1.4;
        }

        &-button {
            margin-top: 24px;
        }
    }
}



.comment {


    &-header {
        text-align: center;
        margin-bottom: 3rem;
        line-height: 1.4375;
        font-size: 32px;
        font-weight: bold;
    }



}

.testitem {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;

    @include for-tablet-landscape-up {
        width: 100%;
        justify-content: center;
    }
}

.comment-item {


    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 24px;

        @include for-tablet-portrait-up {
            justify-content: center;
            flex-direction: column;

        }
    }

    margin-top: 48px;
    position: relative;
    padding: 48px 32px 32px 24px;
    border: 1px solid white;
    box-shadow: 0px 2px 10px #00000014;
    width: 33%;
    border-radius: 12px;

    @include for-tablet-portrait-up {
        width: 100%;

    }

    // @include for-tablet-portrait-up {
    //     width: 50%;

    //     &:not(:last-child) {
    //         margin-bottom: 70px;
    //     }


    // }



    &-img {
        position: absolute;
        top: -50px;
        left: 32px;
        width: 80px;
        height: 80px;
        border-radius: 999px;

    }

    &-content {
        padding-bottom: 24px;
        border-bottom: 1px solid grey;
        text-align: justify;
        line-height: 1.5;
    }

    &-footer {
        margin-top: 24px;

        // display: flex;
        // justify-content: space-between;
        // align-items: end;
        h3 {
            font-weight: bold;
        }
    }

    &-post {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    &-star {
        display: flex;

        img:not(:first-child) {
            margin-left: 8px;
        }


    }
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;


    li {
        &:not(:first-child) {
            margin-left: 8px;
        }

        a {
            width: 10px;
            display: inline-block;
            height: 10px;
            background: #DDDDDD;
            border-radius: 999px;

            &:hover {
                background: #FFD153;
            }
        }
    }

}


.slogan {
    position: relative;
    display: flex;
    justify-content: center;


    &-area {
        text-align: center;
        display: inline;
        position: absolute;
        bottom: 30px;

    }

    &-text {
        &::before {
            content: " \\ ";
        }

        &::after {
            content: " / ";
        }


        margin-bottom:3rem;
    }

    &-button {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background: $primary;
        color: #FFF;
        border-radius: 1.688rem;
    }
}

.footer {
    background: $background-secondary;
}

.line-height {
    line-height: 1.5;
}